@keyframes buttonsAnimation{
    0% { transform: translateY(0); }
    100% { transform: translateY(-5px); }
}
@keyframes overheatAnimation{
    0%{
        color: #f5f5f5;
        text-shadow: 4px 4px #860905;
        transform: translate(-50%, -50%) scale(1);
    }
    50%{
        color: #b30d07;
        text-shadow: 4px 4px #f5f5f5;
        transform: translate(-50%, -50%) scale(1.1);
    }
    100%{
        color: #f5f5f5;
        text-shadow: 4px 4px #860905;
        transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes pauseTitle{
    0%{
        color: #f5f5f5;
    }
    50%{
        color: #b30d07;
    }
    100%{
        color: #f5f5f5;
    }
}
@keyframes shake{
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
}
@keyframes notification{
    0%{
        transform: translateY(100px)
    }
    50%{
        transform: translateY(0)
    }
    100%{
        transform: translateY(100px);
    }
}