*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    overflow: hidden;
}
button{
    outline: none;
}
/* MAIN MENU */
.main-menu{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    opacity: 1;
    transition: 2.5s ease;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainMenuFade{
    opacity: 0;
}
.main-menu_buttons:hover{
    animation: buttonsAnimation 0.3s ease forwards infinite alternate;
}

.title {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title > *{
    margin: 15px 0;
}
.title h1{
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 50px;
    color: #f5f5f5;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-bottom: 40px;
}
#startGame{
    border: none;
    background: none;
    font-size: 14px;
    font-family: "Press Start 2P";
    color: #f5f5f5;
    letter-spacing: 1px;
    cursor: pointer;
    /* animation: startGameText 2s ease forwards infinite; */
    display: inline-block;
    transition: 0.3s ease;
    z-index: 9;
    outline: none;
}
#startGame:hover{
    color: gold;
}
#about{
    border: none;
    background: none;
    font-size: 14px;
    font-family: "Press Start 2P";
    color: #f5f5f5;
    letter-spacing: 1px;
    cursor: pointer;
    /* animation: startGameText 2s ease forwards infinite; */
    display: inline-block;
    transition: 0.3s ease;
    z-index: 9;
    outline: none;
}
#about:hover{
    color: gold;
}
#copyright{
    font-family: "Press Start 2P";
    font-size: 8px;
    color: #f5f5f5;
    justify-self: flex-end;
    margin-top: 80px;
}
.soundControl{
    cursor: pointer;
}

.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.loading-text{
    font-family: "Press Start 2P";
    font-size: 12px;
    color: #f5f5f5;
    margin-bottom: 10px;
}
.loading-bar{
    width: 200px;
    height: 20px;
    border: 1px solid grey;
}
.loading-bar_fill{
    width: 5%;
    height: 100%;
    background-color: #f5f5f5;
}
.loading .info{
    margin: 30px 0;
}
.loading .info h2{
    color: #f5f5f5;
    font-family: "Press Start 2P";
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
    color: gold;
    letter-spacing: 2px;
}
.loading .info p{
    color: #f5f5f5;
    font-family: "Press Start 2P";
    font-size: 10px;
    margin: 5px 0;
}
.aboutMenu{
    display: none;
    padding: 15px;
    width: 450px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    z-index: 999;
    border: 1px solid #dddddd30;
    color: #f5f5f5;
    font-family: "Press Start 2P";
    font-size: 12px;
    letter-spacing: 2px;
    text-align: center;
    line-height: 15px;
}
.aboutMenu h3{
    color: gold;
    font-size: 20px;
}
.aboutMenu p {
    padding: 25px;
}
.aboutMenu a {
    color: gold;
    text-decoration: none;
}
#closeAbout{
    background: none;
    border: none;
    color: #f5f5f5;
    font-family: "Press Start 2P";
    cursor: pointer;
}
#closeAbout:hover{
    color: gold;
}

/*////////////////////////////////////////////*/

/* GAME MENU */
.menu{
    display: none;
    opacity: 0;
    width: 1250px;
    color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top:10px;
    left: 50%;
    transform: translate(-50%);
    z-index: 99;
    transition: 0.75s ease;
    font-family: "Press Start 2P";
}
#openMenu{
    cursor: pointer;
}
.menuActive{
    opacity: 1;
}
.container .health-container{
    display: none;
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 999;
}
.container .shield-container{
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 999;
}
.score{
    text-align: center;
}
.emptyWarning-text{
    display: none;
    font-family: "Press Start 2P";
    font-size: 22px;
    letter-spacing: 3px;
    color: #f5f5f5;
    text-shadow: 4px 4px #860905;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.emptyWarning-textActive{
    display: block;
    animation: overheatAnimation 0.6s ease forwards infinite;
}
.countdown {
    display: none;
    font-family: "Press Start 2P";
    font-size: 30px;
    color: #f5f5f5;
    text-shadow: 3px 3px rgba(168, 33, 33);
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
canvas{
    display: none;
    border: 2px solid #dddddd10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
}

/* GAME OVER MENU */
.game--over{
    display: none;
    text-align: center;
    background-color: #000016;
    color: #f5f5f5;
    font-family: "Press Start 2P";
    font-size: 12px;
    width: 250px;
    height: auto;
    padding: 20px;
    border: 1px solid #f5f5f535;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.game--over .scores{
    text-align: left;
}
.scores > * {
    margin: 10px 0;
}
.exitGame{
    display: inline-block;
    margin-top: 10px;  
    background: none;
    border: none;
    color: #f5f5f5;
    font-family: "Press Start 2P";
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 1px;
}
.exitGame:hover{
    text-shadow: 3px 3px rgb(161, 9, 9);
}
#message{
    margin: 10px 0;
    font-family: "Press Start 2P";
    font-size: 12px;
}
#finalScore, #highscore{
    color: gold;
}
/* .playerShipContainer, .overheatContainer, .speedBoosterContainer, .playerShipShieldContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 150px;
}
.playerShipContainer p, .overheatContainer p, .speedBoosterContainer p, .playerShipShieldContainer p{
    font-size: 14px;
    font-family: "Montserrat Medium";
} */
.bars{
    display: flex;
    align-items: center;
}
.hp-bars{
    width: 100px;
    height: 20px;
    border: 1px solid #dddddd30;
    border-radius: 5px;
}
.shipShield{
    width: 100px;
    height: 20px;
    border: 1px solid #dddddd30;
    border-radius: 5px;;
}

.gunOverheat{
    width: 100px;
    height: 20px;
    border: 1px solid #dddddd30;
    border-radius: 5px;
}
.speedBooster{
    width: 100px;
    height: 20px;
    border: 1px solid #dddddd30;
    border-radius: 5px;
}
.speedBooster-fill{
    width: 100%;
    height: 100%;
    background-color: gold;
    transition: 0.5s ease;
    border-radius: 5px;
}
.ship-hpFill{
    width: 100%;
    height: 100%;
    background-color: #e1302a;
    transition: 0.5s ease;
    border-radius: 5px;
}
.shipShield-fill{
    width: 100%;
    height: 100%;
    background-color: #1aeb71;
    transition: 0.5s ease;
    border-radius: 5px;
}
.gunOverheat-fill{
    width: 0%;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(168, 33, 33);
    transition: 0.5s ease;
}
/* #hpText, #shieldText, #overheatText, #boosterText {
    height: 100%;
    margin-left: 5px;
    font-family: "Montserrat Medium";
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    font-size: 12px;
} */
/* PAUSE MENU */
.pause--menu{
    display: none;
    width: 250px;
    height: 180px;
    padding: 10px;
    background-color: #000016;
    color: #f5f5f5;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #dddddd30;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}
.pause--menu h3{
    font-family: "Press Start 2P";
    font-size: 19px;
    margin: 20px 0;
    animation: pauseTitle 0.8s ease infinite forwards;
}

.pause--menu p{
    margin: 10px 0;
    cursor: pointer;
    font-family: "Press Start 2P";
}
.pause--menu p:hover{
    color: gold;
    text-shadow: 2px 2px rgb(161, 9, 9);
}

/* .controlsInfo{
    display: none;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -90%);
    color: #f5f5f5;
    font-family: "Titillium Web Medium";
    letter-spacing: 1px;
    font-size: 18px;
    z-index: 99;
    text-transform: uppercase;
    opacity: 1;
    transition: 2s ease;
    text-align: center;
} */
.controlsInfoActive{
    opacity: 0;
}
.container{
    width: 1280px;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.notificationsContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notification{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    width: 300px;
    height: 40px;
    transform: translateY(100px);
    font-size: 12px;
    font-family: "Press Start 2P";
}
.activeNotification{
    animation: notification 4s ease forwards;
}
.notification i {
    color: #e1302a
}
.notification p {
    margin-left: 5px;
    color: #f5f5f5;
}
/* shield notification */
.notification .shield {
    color: #1aeb71;
}
/* health restore notification */
.notification .health {
    color: #f5f5f5;
}
/* added playime notification */
.notification .timer{
    color: gold;
}
.time{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timeShake{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}


.time > * {
    margin: 0 3px;
}
.time i {
    font-size: 30px;
}
#timerDisplay{
    font-size: 17px;
    letter-spacing: 2px;
    color: gold;
    font-family: "Press Start 2P";
}
#timerDisplay.timeLow{
    color: #b30d07;
    font-size: 22px;
}

@media (min-width: 1920px) {
    #title {
        font-size: 40px;
    }
    #startGame, #about{
        font-size: 22px;
    }
    #copyright{
        font-size: 16px;
    }
    .aboutMenu{
        width: 600px;
        line-height: 20px;
    }
    .aboutMenu p{
        font-size: 18px;
    }
    .loading .info h2{
        font-size: 22px;
        letter-spacing: 3px;
    }
    .loading .loading-text {
        font-size: 18px;
    }
    .loading .info p {
        font-size: 18px;
    }
}