*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("images/background.png");
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

/* MAIN MENU */
.main-menu{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    opacity: 1;
    transition: 2.5s ease;
}
.mainMenuFade{
    opacity: 0;
}
.title {
    text-align: center;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%)
}
.title h1{
    text-align: center;
    font-family: "Titillium Web Black";
    font-size: 80px;
    color: #f5f5f5;
    width: 330px;
    letter-spacing: 1px;
    margin: 0 auto;
}
.title a{
    font-size: 25px;
    font-family: "Titillium Web Black";
    color: #f5f5f5;
    letter-spacing: 1px;
    cursor: pointer;
    animation: startGameText 2s ease forwards infinite;
    display: inline-block;
    transition: 0.3s ease;
}
.title a:hover{
    text-shadow: 0px 4px 0px goldenrod;
}
.earth{
    position: absolute;
    bottom: -160px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
}
#satelite{
    animation: satelite 15s ease forwards infinite;
}
.astronaut--right{
    position: absolute;
    right: 100px;
    bottom: 50px;
    animation: astronautRight 30s ease-in-out forwards infinite;
}
.astronaut--left{
    position: absolute;
    left: 25%;
    bottom: 0px;
    animation: astronautLeft 30s ease-in-out forwards infinite;
}
.rocket--flybyOne{
    position:   absolute;
    top: 60%;
    left: -150px;
    animation: flybyOne 10s ease forwards infinite;
}
.rocket--flybyTwo{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: rotateZ(60deg);
    animation: flybyTwo 10s ease forwards infinite;
    animation-delay: 15s;
    z-index: -1;
}
.github{
    position: absolute;
    bottom: 0px;
    right: 20px;
    cursor: pointer;
}

/*////////////////////////////////////////////*/

/* GAME MENU */
.menu{
    display: none;
    opacity: 0;
    width: 1300px;
    color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 70px);
    z-index: -1;
    transition: 0.75s ease;
}
.menu > *{
    cursor: pointer;
}
.menuActive{
    opacity: 1;
    transform: translate(-50%, -40px);
}
.score{
    text-align: center;
}
canvas{
    display: none;
    border: 2px solid #dddddd10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
}
.infobox{
    width: 650px;
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    border: 2px solid #f5f5f5;
    background-color: #111111;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
    transition: 2s ease;
}
.infoBoxActive{
    opacity: 1;
}
.infobox .game--info{
    padding: 10px;
}
.game--info h3{
    font-family: "Titillium Web Black";
    color: #f5f5f5;
    font-size: 25px;
    letter-spacing: 1px;
}
.game--info p {
    font-family: "Titillium Web Regular";
    font-size: 16px;
    color: #f5f5f5;
}

/* GAME OVER MENU */
.game--over{
    display: none;
    text-align: center;
    background-color: #111111;
    color: #f5f5f5;
    font-family: "Titillium Web Regular";
    width: 300px;
    height: auto;
    padding: 20px;
    border: 2px solid #f5f5f5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.game--over .scores{
    text-align: left;
}
.game--over a{
    display: inline-block;
    margin-top: 10px;  
    background-color: #fff;
    color: #333;
    font-family: "Titillium Web Black";
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 1px;
}
.bars{
    display: flex;
    align-items: center;
}
.hp-bars{
    width: 100px;
    height: 20px;
    border: 1px solid #dddddd30;
    margin: 5px;
    border-radius: 15px;
}
.gunOverheat{
    width: 100px;
    height: 20px;
    border: 1px solid #dddddd30;
    border-radius: 15px;
}
.ship-hpFill{
    width: 100%;
    height: 100%;
    background-color: #e1302a;
    transition: 0.5s ease;
    border-radius: 15px;
}
.alien-hp {
    transform: translateY(100px);
    transition: 0.5s ease;
    overflow: hidden;
}
.alien-hpActive{
    transform: translateY(0px);
}
.earth-hpFill{
    width: 100%;
    height: 100%;
    background-color: #00a8ff;
    transition: 0.5s ease;
    border-radius: 15px;
}
.gunOverheat-fill{
    width: 0%;
    height: 100%;
    border-radius: 15px;
    background-color: rgb(168, 33, 33);
    transition: 0.5s ease;
}
.alien-hpFill{
    overflow: hidden;
    width: 0%;
    height: 100%;
    border-radius: 15px;
    background-color: greenyellow;
    transition: 0.5s ease;
}
/* PAUSE MENU */
.pause--menu{
    display: none;
    width: 190px;
    height: 130px;
    padding: 10px;
    color: #f5f5f5;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #dddddd30;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}
.pause--menu p{
    margin: 10px 0;
    cursor: pointer;
}
.controlsInfo{
    display: none;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -90%);
    color: #f5f5f5;
    font-family: "Titillium Web Medium";
    letter-spacing: 1px;
    font-size: 18px;
    z-index: 99;
    text-transform: uppercase;
    opacity: 1;
    transition: 1s ease;
}
.controlsInfoActive{
    opacity: 0;
}
.container{
    width: 100%;
    height: 620px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.notificationsContainer{
    width: 1300px;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notification{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    width: 300px;
    height: 40px;
    transform: translateY(100px);
}
.activeNotification{
    animation: notification 4s ease forwards;
}
.notification i {
    color: #e1302a
}
.notification p {
    margin-left: 5px;
    color: #f5f5f5;
}
@keyframes notification{
    0%{
        transform: translateY(100px)
    }
    50%{
        transform: translateY(0)
    }
    100%{
        transform: translateY(100px);
    }
}

/* MATERIAL DESIGN ICONS CSS */
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
}